@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

table tr {
	line-height: 30px;
}

a {
	text-decoration: none;
}

input {
	margin: 5px 0;
}

#pageContent {
	width: 800px;
	box-sizing: border-box;
	margin: 30px auto;
	padding: 30px;
	border: 1px solid green;
}

